/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
    background-color: #000;
}


/*keyframes*/


/* Fade in */

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Fade out */

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* keyframes */

* {
    margin: 0;
}


/*Dando estilo ao título da página*/

.cabecalho {
    position: relative;
    width: 500px;
    height: 130px;
    top: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    font-size: 2em;
    color: #ffffffbb;
    text-shadow: 3px 3px 10px rgb(237, 100, 100);
}


/*Esse trecho do CSS será importante para o efeito "pulsar" da div "neon"*/


/*A class Neon oculto deve ser default dessa div
Sua visibilidade será trabalhada com a class "neonVisivel" com 
um função no JS*/

.neonOculto {
    position: relative;
    visibility: hidden;
    transition-duration: 1.5s;
    box-sizing: border-box;
    background-size: cover;
    width: 1000px;
    height: 30px;
    margin: auto;
    padding: 5px;
    /* frames */
    -webkit-animation: fadeOut 2s ease-out;
    -moz-animation: fadeOut 2s ease-out;
    -o-animation: fadeOut 2s ease-out;
    animation: fadeOut 2s ease-out;
}


/*Essa classe será utilizada no JS para atribuir seus valores
a Div de class neonOculto*/

.neonVisivel {
    position: relative;
    visibility: visible;
    box-sizing: border-box;
    background-size: cover;
    background-color: rgb(122, 161, 234);
    width: 1000px;
    height: 30px;
    margin: auto;
    padding: 5px;
    box-shadow: 0px 0px 50px blue;
    border-radius: 4px;
    /*utilizando os frames*/
    -webkit-animation: fadeIn 2s ease-in;
    -moz-animation: fadeIn 2s ease-in;
    -o-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
}


/*Dentro da videoArea deverá conter o próprio video, título do vídeo, e botões*/

.videoArea {
    display: block;
    position: relative;
    background-image: url('../assets/images/foo-fighters-logo.jpg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    width: 850px;
    height: 550px;
    top: 30px;
    margin: auto;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
}


/*Título do vídeo, separado em ID (para configuração padrão)e utilizar no JS, 
e class para efeitos e atribuição via classList no JS*/

#nomeDaMusica {
    margin-top: 5px;
    color: #ffffffbb;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-align: center;
}

.nomeMusicaNeon {
    text-shadow: 0px 0px 20px #ffffff;
    transition-duration: 0.2s;
    /*frame*/
    -webkit-animation: fadeOut 2s ease-out;
    -moz-animation: fadeOut 2s ease-out;
    -o-animation: fadeOut 2s ease-out;
    animation: fadeOut 2s ease-out;
}


/*Área do vídeo em si*/

.video-clipe {
    position: relative;
    opacity: 0.8;
    box-sizing: border-box;
    background-size: cover;
    width: 650px;
    top: 30px;
    margin: auto;
}


/*Bloco de controles, esse deverá ficar visível, dentro do videoArea,mas fora do videoClipe*/

.controls {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    height: 40px;
    top: 8px;
    margin: auto;
}


/*Tamanho padrão de imagens, foi utilizado a própria tag, por possuir imagens de padrão parecido*/

img {
    width: 25px;
    height: 25px;
}


/*Estilo dos botões de comando do vídeo*/

.btn {
    opacity: 0.3;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


/*Meus contatos em posição fixa na página*/

.botoesRedesContatos {
    margin: 5px;
}


/*Barra de progresso*/

progress {
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-color: transparent;
    width: 530px;
    height: 5px;
    margin: auto;
    border-radius: 50%;
}


/*Efeito gradiente na barra de progresso ao decorrer do vídeo,
deverá ocorrer uma leve transição a cada comando executado pelos botões
de:stop, avançar e voltar tempo do vídeo*/

progress[value]::-webkit-progress-value {
    background-image: linear-gradient( to right, #e2e2e2, #152a38);
    transition: width 1s linear;
    color: white;
}

.rodape {
    position: fixed;
    box-sizing: border-box;
    background-size: cover;
    background-color: rgba(122, 161, 234, .5);
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    opacity: 0.5;
    width: 200px;
    height: 70px;
    top: 0;
    right: 0;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    text-align: center;
}


/*Media Query - trabalhando a responsividade do site*/

@media only screen and (max-width: 1024px) {
    .neonVisivel,
    .neonOculto {
        width: 800px;
    }
}

@media only screen and (max-width: 800px) {
    .cabecalho {
        transition-duration: 1s;
        width: 400px;
        height: 90px;
        font-size: 1.2rem;
    }
    .neonVisivel,
    .neonOculto {
        width: 600px;
        height: 20px;
    }
    .videoArea {
        width: 550px;
        height: 350px;
    }
    .video-clipe {
        width: 400px;
        top: 15px;
    }
    progress {
        width: 400px;
    }
    .rodape {
        top: 600px;
        bottom: 0;
        left: 37%;
        font-size: 15px;
        width: 150px;
        height: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .cabecalho {
        width: 300px;
        height: 70px;
        font-size: 1rem;
    }
    .neonVisivel,
    .neonOculto {
        width: 350px;
        height: 15px;
    }
    .videoArea {
        width: 400px;
        height: 300px;
        left: -10px;
        margin: auto;
        text-align: center;
    }
    .video-clipe {
        width: 320px;
        top: 10px;
        margin: auto;
    }
    progress {
        width: 320px;
    }
    #nomeDaMusica {
        font-size: 15px;
    }
    .btn {
        width: 30px;
        height: 30px;
    }
    img {
        width: 15px;
        height: 15px;
    }
    .controls {
        width: 170px;
        height: 30px;
    }
    .rodape {
        top: 470px;
        bottom: 0;
        left: 32%;
        font-size: 15px;
        width: 150px;
        height: 50px;
    }
}